{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'css/home/central.css' %}" />
        <link rel="stylesheet" href="{% static 'css/modal_messages.css' %}" />
    </head>
    <body>
        <!-- MODAL DE MENSAGEM -->
        {% if messages %}
        <div id="custom-modal" class="modal">
            <div class="modal-content">
                {% for message in messages %}
                <p class="modal-message {{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!-- FIM DO MODAL -->
        <div class="sidebar">
            <div class="sidebar_logo">
                <img src="{% static 'img/logo.jpg' %}" alt="" />
            </div>
            <div class="buttonsNavPage">
                <div
                    class="sidebar_btns_sections sidebar_toggle_sections_btns"
                    data-target="section_proteinas_main"
                >
                    <i class="fa-solid fa-drumstick-bite"></i>
                    <h4>Proteinas</h4>
                </div>
                <div
                    class="sidebar_btns_sections sidebar_toggle_sections_btns"
                    data-target="section_arrozes_main"
                >
                    <i class="fa-solid fa-bowl-rice"></i>
                    <h4>Arrozes</h4>
                </div>
                <div
                    class="sidebar_btns_sections sidebar_toggle_sections_btns"
                    data-target="section_saladas_main"
                >
                    <i class="fa-solid fa-leaf"></i>
                    <h4>Saladas</h4>
                </div>
                <div
                    class="sidebar_btns_sections sidebar_toggle_sections_btns"
                    data-target="section_complementos_main"
                >
                    <i class="fa-solid fa-bread-slice"></i>
                    <h4>Complementos</h4>
                </div>
                <div
                    class="sidebar_btns_sections sidebar_toggle_sections_btns"
                    data-target="section_bebidas_main"
                >
                    <i class="fa-solid fa-glass-water"></i>
                    <h4>Bebidas</h4>
                </div>
                <div
                    class="sidebar_btns_sections sidebar_toggle_sections_btns"
                    data-target="section_sobremesas_main"
                >
                    <i class="fa-solid fa-birthday-cake"></i>
                    <h4>Sobremesas</h4>
                </div>
                <div class="sidebar_btns_sections">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <h4>Logout</h4>
                </div>
            </div>
        </div>
        <div class="main_container">
            <div class="container">
                <div
                    class="section_lista"
                    id="section_proteinas_main"
                    style="display: none"
                >
                    <div class="fundo_lista">
                        <div class="header_lista">
                            <h1>Proteinas de</h1>
                            <div class="div_header_btn">
                                <button>
                                    <i class="fa-solid fa-print"></i>
                                </button>
                                <button class="btn_open_form">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table id="tabela_proteinas" class="table_lista">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div
                    class="section_lista"
                    id="section_arrozes_main"
                    style="display: none"
                >
                    <div class="fundo_lista">
                        <div class="header_lista">
                            <h1>Arrozes de</h1>
                            <div class="div_header_btn">
                                <button>
                                    <i class="fa-solid fa-print"></i>
                                </button>
                                <button class="btn_open_form">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table id="tabela_arrozes" class="table_lista">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div
                    class="section_lista"
                    id="section_saladas_main"
                    style="display: none"
                >
                    <div class="fundo_lista">
                        <div class="header_lista">
                            <h1>Saladas de</h1>
                            <div class="div_header_btn">
                                <button>
                                    <i class="fa-solid fa-print"></i>
                                </button>
                                <button class="btn_open_form">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table id="tabela_saladas" class="table_lista">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div
                    class="section_lista"
                    id="section_complementos_main"
                    style="display: none"
                >
                    <div class="fundo_lista">
                        <div class="header_lista">
                            <h1>Complementos de</h1>
                            <div class="div_header_btn">
                                <button>
                                    <i class="fa-solid fa-print"></i>
                                </button>
                                <button class="btn_open_form">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table id="tabela_complementos" class="table_lista">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div
                    class="section_lista"
                    id="section_bebidas_main"
                    style="display: none"
                >
                    <div class="fundo_lista">
                        <div class="header_lista">
                            <h1>Bebidas de</h1>
                            <div class="div_header_btn">
                                <button>
                                    <i class="fa-solid fa-print"></i>
                                </button>
                                <button class="btn_open_form">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table id="tabela_bebidas" class="table_lista">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Quantidade</th>
                                    <th>Estoque</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div
                    class="section_lista"
                    id="section_sobremesas_main"
                    style="display: none"
                >
                    <div class="fundo_lista">
                        <div class="header_lista">
                            <h1>Sobremesas de</h1>
                            <div class="div_header_btn">
                                <button>
                                    <i class="fa-solid fa-print"></i>
                                </button>
                                <button class="btn_open_form">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table id="tabela_sobremesas" class="table_lista">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const buttons = document.querySelectorAll(
                ".sidebar_toggle_sections_btns"
            );

            let activeDiv = null;

            buttons.forEach((button) => {
                button.addEventListener("click", function () {
                    const targetId = this.getAttribute("data-target");
                    const targetDiv = document.getElementById(targetId);

                    if (activeDiv && activeDiv !== targetDiv) {
                        activeDiv.style.display = "none";
                    }

                    if (
                        targetDiv.style.display === "none" ||
                        targetDiv.style.display === ""
                    ) {
                        targetDiv.style.display = "flex";
                        activeDiv = targetDiv;
                    } else {
                        targetDiv.style.display = "none";
                        activeDiv = null;
                    }
                });
            });
            function mostrarModalTemporario(modalId, duracao = 2000) {
                window.addEventListener("load", () => {
                    const modal = document.getElementById(modalId);
                    if (modal) {
                        setTimeout(() => {
                            modal.style.transition = "opacity 0.5s ease";
                            modal.style.opacity = 0;
                            setTimeout(() => {
                                modal.style.display = "none";
                            }, 500); // Aguarda a transição
                        }, duracao);
                    }
                });
            }
            mostrarModalTemporario("custom-modal");
        </script>
    </body>
</html>
